/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

 .accordion-heading .accordion-toggle.collapsed {
       background-color:red; /* accordion background color */
}

#DivStoriesList {
    width:80%;
}


#TagList {
    width:11%;
    background-color:#EEEEEE;
    right:0;
    position: absolute;
    z-index:999;
    overflow:auto
}

 .navbar {
     position: relative;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
     padding-top: .5rem;
     padding-bottom: .5rem;
}
.gpstory_article img{
	width:100%;
}
.accordion-item img{
	width:30px;
}

#map {
  height: 90%;
  width: 50%;
}

#maplist {
  background-color:white;
  position:absolute;
  width:45%;
  z-index: 99;
  height:80%;
  opacity: 0.9;
  top:15%;
  left:2%;
  border-radius: 10px;
  padding-top:1%;
  overflow-y: scroll;
  display:none;
}

#maplist li{
  list-style-type: none;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
  .right {
      height: 100%;
      display: block;
      overflow-y: scroll;
  }


.gpstory_tags li {
  display: inline;

}

.gpstory_author {
  font-size: 16px;
  font-weight: bold;
  width:100%;;
  margin-top:10px;
}

.gpstory_header{

  font-size: 20px;
  font-weight: bold;
  width:100%;

}

.gpstory_header img{
  width:25px;
}
.gpstory_title {
width:100%;

}
.gpstory_source{
  font-size: 16px;
  font-weight:bold;
  display: block;
  margin-top:5px;
  color:#65676C;
}
.gpstory_info a{
  color:black;
}

.gpstory_source a{
  color:#757575;
}

.gpstory_catagory {
  margin-top:20px;

}
.gpstory_catagory li{
  display:inline;
}

.gpstory_catagory button{
  background-color: #008CBA;
  border-radius: 16px;
  border: 0px;
  padding-left:10px;
  padding-right:10px;
  font-weight:bold;
  color: white;
  font-size: 20px;

}

.gpstory_catagory {
  padding-left:0px;

}

.gpstory_catagory span{
  display:inline;
}
.gpstory_catagory ul{
  display:inline;
}
.gpstory_info{
  width:100%;
}

.gpstory_info input{
  display:inline-block;
}
.gpstory_list div{
  display:inline-block;
  float:left;
  margin-top:10px;
  background-color:#F0F2F6;
  padding-left:10px;
  padding-right:10px;
  border-radius: 16px;
}
.gpstory_thumbnail {
  //width:20%;
//  display:none;
}
.gpstory_thumbnail img {
  width:95%;
  height:95%;
  border: 5px solid #FFF;
}

.gpstory_author_name {
  margin-left:10px;
}


.gpstory_tags ul{
padding-left:0;
margin-top:10px;

}

.gpstory_tags button{
  background-color: #abdbe3;
  border-radius: 16px;
  border: 0px;
  padding-left:10px;
  padding-right:10px;

}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
